/* App.css */
.App {
  font-family: Arial, sans-serif;
  text-align: center; /* Centering */
  margin: 20px auto; 
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto; 
}

th, td {
  border: 1px solid #454545;
  padding: 4px;
}



th {
  background-color: #1A1A1A;
}


td img {
  border-radius: 2px; 
}

td button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

td button:hover {
  background-color: #d32f2f;
}
